<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>
<p> Hi This is devops page</p>
<p>Today is a {{ day_of_week }} </p>
<p>The  {{ day_of_week }} </p>

<form action="/submit" method="POST">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name" value="Enter your name"><br>
  <label for="password">password:</label><br>
  <input type="password" id="password" name="password" value="Enter your password"><br><br>
  <input type="submit" value="Submit">
</form> 


</body>
</html>
